<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844707940642-43m48ctvshc19lhmpsh1f22lj9n3am5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844707940642-43m48ctvshc19lhmpsh1f22lj9n3am5t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>844707940642-894ittkb62dhcjdclto48b2qjbnm9295.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFecWdia2P4csbAyOEZRsJ49HFH5b6Bco</string>
	<key>GCM_SENDER_ID</key>
	<string>844707940642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.kiifit</string>
	<key>PROJECT_ID</key>
	<string>kiifit-4234c</string>
	<key>STORAGE_BUCKET</key>
	<string>kiifit-4234c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844707940642:ios:c7f59daffa09d845043d7b</string>
	<key>DATABASE_URL</key>
	<string>https://kiifit-4234c-default-rtdb.firebaseio.com</string>
</dict>
</plist>